@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #1a202c; /* text-gray-900 */
  transition: background-color 0.3s, color 0.3s; /* transition-colors duration-300 */
}

.dark body {
  background-color: #000000; /* Dark mode styles */
  color: #f5f5f5; /* Dark mode styles */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;

  transition: background-color 0.3s, color 0.3s;
}
.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 0.7s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
